.employee-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-buttons > a {
    background-color: #3DAFC2;
    color: white;
}

.add-employee-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.employee-buttons > a:hover {
    background-color: black;
    color: white;
}

.plus-icon {
    fill: white;
    height: 1em;
    padding-right: .5em;
}

.delete-button:hover {
    background-color: #dc3545 !important;
    color: white !important;
}
