#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* LISTS ------------------------------- */
ul {
  /* display: flex; */
  /* justify-content: center; */
}
li {
  display: flex;
  justify-content: center;
}